// Timeline card container
.card {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  display: flex;
  flex-direction: column;

  // Circle på timeline
  &::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: black;
    border: 4px solid #C7BD8D;
    top: 15px;
    border-radius: 50%;
    z-index: 2;
  }
}

.left::before{
  content: " ";
  background-color: #C7BD8D;
  width: 75px;
  height: 2px;
  position: relative;
  top: 20px;
  right: -465px;
}

.right::before{
  content: " ";
  background-color: #C7BD8D;
  width: 75px;
  height: 2px;
  position: relative;
  top: 20px;
  left: -25px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #C7BD8D;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}


.year {
  font-weight: bold;
  color: white;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.left .year{
  margin-left: 475px;
}

.text {
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 300px;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}



/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.readMore {
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.85rem;
  margin-top: 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    text-decoration: underline;
  }
}

.readMoreIcon {
  width: 12px;
  height: 12px;
  margin-left: 0.3rem;
}

// Responsive - mindre skærme
@media (max-width: 600px) {
  .card {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;

    &::before {
      left: 60px;
      border: medium solid var(--text-color);
      border-width: 10px 10px 10px 0;
      border-color: transparent var(--text-color) transparent transparent;
    }

    &.left,
    &.right {
      left: 0 !important;

      &::after {
        left: 15px;
      }
    }
  }
}